body {
    color:rgb(243, 155, 199)
   background:black;
}

header {
     border-bottom: solid 2px;
     padding: 20px;
     font-size: 32px;
     color: rgb(168, 66, 121);

}

p{
   text-align: center;
   font-size: 10px;



}
